{
    "extends": ["react-app", "react-app/jest", "plugin:prettier/recommended"],
    
    "rules": {
        "import/first": 0,
        "prettier/prettier": "warn"
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true 
    },
    "parser": "@babel/eslint-parser"
}